.Sticky {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.LinkToSettings {
  margin-bottom: 30px;
}

.Message {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.Loading {
  text-transform: uppercase;
  font-size: 40px;
  z-index: 10;
}
