.Row {
  cursor: pointer;
}
.Row:hover {
  background-color: #ccc;
}

.Modal {
  border: 1px solid black;
  background: #fdfdfd;
  position: absolute;
  left: 100px;
  top: 200px;
  z-index: 1;
}

.Modal-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
}

.Close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
  font-size: 40px;
}
