.Row {
  position: relative;
  cursor: pointer;
}

.Row:hover {
  background-color: rgb(242, 242, 242);
}

.Close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.Modal {
  cursor: default;
  position: absolute;
  background-color: rgba(231, 166, 26, 0.8);
  right: 30%;
  z-index: 1;
  box-shadow: 6px 6px 43px 0px rgba(0, 0, 0, 0.75);
}

.ModalBotton {
  bottom: 0px;
}

.ModalTop {
  top: 0px;
}

.ModalContent {
  font-family: verdana;
  padding: 20px 10px 5px 10px;
  display: flex;
  flex-direction: column;
}
